.colors_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.color_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 0;
  transition: 300ms;
  /* background-color: black; */
}

.color_list_item {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  list-style: none;
  /* background-color: black; */
}
